/.github/*                      @sodiqjonovich
/test/*                         @MirshodRajabboyev
/dbf/*                          @abdulazizorazbaev
/src/Eclo.Domain/*              @maxsetovich
/src/Eclo.Application/*         @maxsetovich
/src/Eclo.DataAccess/*          @maxsetovich
/src/Eclo.Persistance/*         @MirshodRajabboyev
/src/Eclo.Services/*            @abdulazizorazbaev
/src/Eclo.WebApi/*              @sodiqjonovich